<style>
.cl_intelligence {
  width: 100%;
  height: auto;
  padding: 16px;
}
.cl_intelligence .container {
  max-width: 1410px;
  margin: 0 auto;
  padding-left: 35px;
  padding-right: 24px;
  background: #F3F5F6;
}
.cl_intelligence .logo_image {
  max-width: 118px;
  margin-left: 55px;
  margin-bottom: 70px;
}
.cl_intelligence img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.cl_intelligence h2 {
  color: #515864;
  font-family: Avenir;
  font-size: 54px;
  font-weight: 800;
  line-height: 60px;
  padding-bottom: 25px;
  margin: 0;
}
.cl_intelligence .section_top_content {
  display: flex;
  align-items: flex-start;
  gap: 63px;
}
.cl_intelligence div.desc {
  max-width: 550px;
  width: 100%;
}
.cl_intelligence div.desc, 
.cl_intelligence div.desc p {
  color: #515864;
  font-family: Avenir;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  margin: 0;
} 
.cl_intelligence div.desc ul {
  padding: 35px 0 25px 20px;
  margin: 0;
}
.cl_intelligence div.desc strong {
  font-weight: 800;
  padding-bottom: 30px;
  display: block;
}
.cl_intelligence .header_image {
  max-width: 676px;
  width: 100%;
  padding-top: 26px;
}
.cl_intelligence .section_bottom_content {
  max-width: 1224px;
  border-radius: 16px;
  background: #FFF;
  padding: 80px 20px;
  margin: 170px auto 0;
}
.cl_intelligence h3 {
  color: #515864;
  text-align: center;
  font-family: Avenir;
  font-size: 28px;
  font-weight: 800;
  line-height: 150%; 
  padding-bottom: 55px;
  margin: 0;
}
.cl_intelligence .block_inner {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 64px;
}
.cl_intelligence .block_col {
  border-radius: 20px;
  background: #F3F5F6;
  padding: 50px 34px 40px;
  max-width: 487px;
  width: 100%;
}
.cl_intelligence h4 {
  color: #000433;
  text-align: center;
  font-family: Avenir;
  font-size: 30px;
  font-weight: 800;
  line-height: 36px;
  padding-bottom: 30px;
  margin: 0;
}
.cl_intelligence span.block_decs,
.cl_intelligence span.block_desc li,
.cl_intelligence span.block_desc p {
  color: #515864;
  font-family: Avenir;
  font-size: 26px;
  font-weight: 400;
  line-height: 32px;
  margin: 0;
}
.cl_intelligence span.block_desc li {
  line-height: 80px;
}
.cl_intelligence h5 {
  color: #333;
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  padding-top: 45px;
  margin: 0;
}
.cl_intelligence .field:before, 
.cl_intelligence .field:after {
  display: none;
}
.cl_intelligence .newsletter-form {
  max-width: 100% !important;
}
.cl_intelligence .field__input {
  border-radius: 40px;
  border: 1px solid #000433;
  background: #FFF;
  width: 100%;
  height: 55px;
  color: #8D95A3;
  font-family: Avenir;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}
.cl_intelligence .field input::placeholder {
  color: #8D95A3;
  font-family: Avenir;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  opacity: 1;
  visibility: visible;
}
.cl_intelligence  .field__input:focus {
  box-shadow: unset;
}
.cl_intelligence .field__button {
  width: 115px !important;
  height: 40px !important;
  color: #FFF;
  text-align: center;
  font-family: Avenir;
  font-size: 14px;
  font-weight: 800;
  line-height: 20px;
  right: 6px;
  top: 8px;
  background-color: #000 !important;
  border-radius: 100px;
}
@media screen and (max-width: 1199px) {
  .cl_intelligence .logo_image {
    margin-left: 30px;
    margin-bottom: 50px;
  }
  .cl_intelligence h2 {
    font-size: 42px;
    line-height: 50px;
  }
  .cl_intelligence .section_top_content {
    gap: 40px;
  }
  .cl_intelligence div.desc,
  .cl_intelligence div.desc p {
    font-size: 20px;
    line-height: 28px;
  }
  .cl_intelligence .section_bottom_content {
    padding: 60px 20px;
    margin: 120px auto 0;
  }
  .cl_intelligence h3 {
    font-size: 24px;
    line-height: 32px;
    padding-bottom: 35px;
  }
  .cl_intelligence .block_inner {
    gap: 40px;
  }
  .cl_intelligence h4 {
    font-size: 24px;
    line-height: 32px;
    padding-bottom: 20px;
  }
  .cl_intelligence span.block_decs, 
  .cl_intelligence span.block_desc li, 
  .cl_intelligence span.block_desc p {
    font-size: 24px;
  }
  .cl_intelligence span.block_desc li {
    line-height: 60px;
  }
  .cl_intelligence h5 {
    padding-top: 20px;
  }
}
@media screen and (max-width: 991px) {
  .cl_intelligence .container {
    padding-left: 24px;
  }
  .cl_intelligence .logo_image {
    margin-left: 20px;
    margin-bottom: 30px;
  }
  .cl_intelligence h2 {
    font-size: 28px;
    line-height: 36px;
    padding-bottom: 20px;
  }
  .cl_intelligence .section_top_content {
    gap: 20px;
  }
  .cl_intelligence div.desc, 
  .cl_intelligence div.desc p {
    font-size: 18px;
    line-height: 24px;
  }
  .cl_intelligence div.desc strong {
    padding-bottom: 20px;
  }
  .cl_intelligence div.desc ul {
    padding: 25px 0 20px 20px;
  }
  .cl_intelligence .section_bottom_content {
    padding: 40px 20px;
    margin: 80px auto 0;
  }
  .cl_intelligence .block_inner {
    align-items: center;
    flex-direction: column;
  }
   .cl_intelligence .newsletter-form {
    max-width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .cl_intelligence {
    padding: 0px;
  }
  .cl_intelligence .logo_image {
    max-width: 100px;
  }
  .cl_intelligence .section_bottom_content {
    margin: 50px auto 0;
  }
  .cl_intelligence .section_top_content {
    gap: 20px;
    flex-direction: column;
  }
  .cl_intelligence .header_image {
    padding-top: 0;
  }
  .cl_intelligence div.desc, 
  .cl_intelligence div.desc p {
    font-size: 16px;
    line-height: 24px;
  }
  .cl_intelligence h3 {
    font-size: 20px;
    line-height: 26px;
    padding-bottom: 20px;
  }
  .cl_intelligence .block_inner {
    gap: 24px;
  }
  .cl_intelligence .block_col {
    padding: 30px 20px;
  }
  .cl_intelligence h4 {
    font-size: 22px;
    line-height: 26px;
    padding-bottom: 10px;
  }
  .cl_intelligence h5 {
      font-size: 16px;
      line-height: 24px;
      padding-top: 15px;
  }
  .cl_intelligence span.block_desc li {
    line-height: 32px;
  }
  .cl_intelligence span.block_decs, 
  .cl_intelligence span.block_desc li, 
  .cl_intelligence span.block_desc p {
    font-size: 18px;
  }
  .cl_intelligence .field__input {
    height: 48px;
  }
  .cl_intelligence .field__button {
    width: 80px !important;
    height: 35px !important;
    font-size: 12px;
    line-height: 18px;
    top: 7px;
  }
  .cl_intelligence .field input::placeholder {
    font-size: 12px;
  }
}
</style>

{%- style -%}
#cl_intelligence-{{ section.id }} {
  background-color: {{ section.settings.bg_color }}; 
  padding-top:{{ section.settings.desktop_padding_top }}px;
  padding-bottom:{{ section.settings.desktop_padding_bottom }}px;
  margin-top:{{ section.settings.desktop_margin_top }}px;
  margin-bottom:{{ section.settings.desktop_margin_bottom }}px;
}
@media screen and (max-width: 991px) {
  #cl_intelligence-{{ section.id }} {
    padding-top:{{ section.settings.mbl_padding_top }}px;
    padding-bottom:{{ section.settings.mbl_padding_bottom }}px;
    margin-top:{{ section.settings.mbl_margin_top }}px;
    margin-bottom:{{ section.settings.mbl_margin_bottom }}px; 
  }
}
{%- endstyle -%}

<section class="cl_intelligence">
    <div class="container" id="cl_intelligence-{{ section.id }}">
      {% if section.settings.logo_img != blank %}
        <div class="logo_image">
          {{ section.settings.logo_img | image_url: width: section.settings.logo_img.width| image_tag: loading: 'lazy'}}
        </div>
      {% endif %}
      {% if section.settings.headline != blank %}
        <h2>{{ section.settings.headline }}</h2>
      {% endif %}
      <div class="section_top_content">
          {% if section.settings.desc != blank %}
            <div class="desc">{{ section.settings.desc }}</div>
          {% endif %}
          {% if section.settings.image != blank %}
            <div class="header_image"> 
              {{ section.settings.image | image_url: width: section.settings.image.width| image_tag: loading: 'lazy'}}
            </div>
          {% endif %}
        </div>

<!-- ********************************************************** Section Bottom Content ************************************************************************* -->
      
        <div class="section_bottom_content">
          {% if section.settings.heading != blank %}
            <h3>{{ section.settings.heading }}</h3>
          {% endif %}
          <div class="block_inner">
             {% for block in section.blocks %} 
              <div class="block_col" id="block_col-{{ block.id }}">
                {% if block.settings.heading != blank %}
                  <h4>{{ block.settings.heading }}</h4>
                {% endif %}
                 {% if block.settings.block_desc != blank %}
                  <span class="block_desc">{{ block.settings.block_desc }}</span>
                {% endif %}
                <div class="email_form">
                  {% if block.settings.input_heading != blank %}
                    <h5>{{ block.settings.input_heading }}</h5>
                  {% endif %}
                   {% form 'customer', class: 'newsletter-form' %}
                      <input type="hidden" name="contact[tags]" value="newsletter">
                        <div class="field">
                          <input
                            id="NewsletterForm--{{ section.id }}"
                            type="email"
                            name="contact[email]"
                            class="field__input"
                            value="{{ form.email }}"
                            aria-required="true"
                            autocorrect="off"
                            autocapitalize="off"
                            autocomplete="email"
                            placeholder="Enter your email..."
                            {% if form.errors %}
                              autofocus
                              aria-invalid="true"
                              aria-describedby="Newsletter-error--{{ section.id }}"
                            {% elsif form.posted_successfully? %}
                              aria-describedby="Newsletter-success--{{ section.id }}"
                            {% endif %}
                            required>
                          <button type="submit"  class="newsletter-form__button field__button" name="commit" id="Subscribe" aria-label="{{ 'newsletter.button_label' | t }}">
                             Notify me
                          </button>
                        {%- if form.errors -%}
                          <small class="newsletter-form__message form__message" id="Newsletter-error--{{ section.id }}">
                            {%- render 'icon-error' -%}
                            {{- form.errors.translated_fields.email | capitalize }}
                            {{ form.errors.messages.email -}}
                          </small>
                        {%- endif -%}
                      </div>
                      {%- if form.posted_successfully? -%}
                        <h3
                          class="newsletter-form__message newsletter-form__message--success form__message"
                          id="Newsletter-success--{{ section.id }}"
                          tabindex="-1"
                          autofocus
                        >
                          {% render 'icon-success' -%}
                          {{- 'newsletter.success' | t }}
                        </h3>
                      {%- endif -%}
                    {% endform %}
                </div>
               </div>
            {% endfor %}
          </div>
        </div>
    </div>
</section>

{% schema %}
  {
    "name": "Cl Intelligence",
    "settings": [
        {
          "type": "image_picker",
          "id": "logo_img",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "headline",
          "label": "Headline",
          "default": "Discover Predictive Health Intelligence"
        },
        {
          "type": "richtext", 
          "id": "desc", 
          "label": "Description",
          "default": "<p>Our AI technology continuously monitors your health, identifying issues before they become problems.</p>"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Embrace a healthier future with predictive, personalized insights"
        },
        {
          "type":"header",
          "content":"Section Desktop Spacing"
        }, 
        {
          "type": "range",
          "id": "desktop_padding_top",
          "min": 0,
          "max": 100,
          "step": 5,
          "unit": "px",
          "label": "Padding Top",
          "default": 0
        },
        {
          "type": "range",
          "id": "desktop_padding_bottom",
          "min": 0,
          "max": 100,
          "step": 5,
          "unit": "px",
          "label": "Padding Bottom",
          "default": 0
        },
        {
          "type": "range",
          "id": "desktop_margin_top",
          "min": 0,
          "max": 100,
          "step": 5,
          "unit": "px",
          "label": "Margin Top",
          "default": 0
        },
        {
          "type": "range",
          "id": "desktop_margin_bottom",
          "min": 0,
          "max": 100,
          "step": 5,
          "unit": "px",
          "label": "Margin Bottom",
          "default": 0
        },
        {
          "type":"header",
          "content":"Section Mobile Spacing"
        }, 
        {
          "type": "range",
          "id": "mbl_padding_top",
          "min": 0,
          "max": 100,
          "step": 5,
          "unit": "px",
          "label": "Padding Top",
          "default": 0
        },
        {
          "type": "range",
          "id": "mbl_padding_bottom",
          "min": 0,
          "max": 100,
          "step": 5,
          "unit": "px",
          "label": "Padding Bottom",
          "default": 0
        },
        {
          "type": "range",
          "id": "mbl_margin_top",
          "min": 0,
          "max": 100,
          "step": 5,
          "unit": "px",
          "label": "Margin Top",
          "default": 0
        },
        {
          "type": "range",
          "id": "mbl_margin_bottom",
          "min": 0,
          "max": 100,
          "step": 5,
          "unit": "px",
          "label": "Margin Bottom",
          "default": 0
        }
    ],
    "blocks":[
    {
      "type":"block", 
      "name":"Block",
      "settings":[
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "For Healthcare Providers"
        },
        {
          "type": "richtext", 
          "id": "block_desc", 
          "label": "Description",
          "default": "<p>Our AI technology continuously monitors your health, identifying issues before they become problems.</p>"
        },
        {
          "type": "text",
          "id": "input_heading",
          "label": "Input Label",
          "default": "Get involved"
        }
      ]
    }
   ],
    "presets": [
    {
      "name": "Cl Intelligence"
    }
  ]
  }
{% endschema %}